.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
* {box-sizing: border-box}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
label{
    width: 100px;
    display: inline-block;    
}
body{
    background: url("dominos1.jpg");
     }
     .Appdiv
     {
      color: blue;
     }
